<footer
  class="zoom-compress bg-secondary px-[34px] lg:px-0 py-[49px] lg:py-8 text-center padding-x-56px-mobile"
>
  <!-- <p class="">Copyright © 2023 My Website</p> -->
  <div
    class="zoom-compress-child header-1280px lg:max-w-[calc(100%-24rem)] mx-auto flex flex-col lg:flex-row lg:justify-between items-center gap-[43px] lg:gap-4 pading-x-20px"
  >
    <div class="flex gap-3 w-full lg:w-[39%] w-40-pc items-center">
      <div class="flex items-center w-full gap-[16px]">
        <img src="assets/image/Logo.png" alt="Logo công ty" />
        <div
          class="text-2xl text-size-20px text-[#02542D] font-normal font-bold my-2 uppercase"
        >
          <p class="text-start">Công ty cổ phần</p>
          <p class="text-start">Dịch vụ xuất bản giáo dục hà nội</p>
        </div>
      </div>
    </div>
    <div
      class="text-[#02542D] flex flex-col font-normal items-start text-[20px] text-size-16px w-full lg:w-[61%] xl:mr-[-76px] zoom-margin-right-0px"
    >
      <p class="text-start">
        Địa chỉ: Tầng 4, Tòa nhà Diamond Flower, số 48 Lê Văn Lương, P. Yên Hòa,
        TP. Hà Nội
        <span class="hidden lg:inline">, Việt Nam</span>
      </p>
      <p class="text-start">
        Điện thoại: 024.35121533( số máy lẻ 118) - 0904893398 | Fax:
        024.35123278
      </p>
      <div class="flex flex-col xl:flex-row">
        <p class="text-start">Email: kinhdoanh_heps@gmail.com</p>
        <p class="text-start flex">
          <span class="mx-1 hidden md:block">|</span>
          <span> Website: http://xbgdhn.vn </span>
        </p>
      </div>
    </div>
  </div>
</footer>
