<header class="zoom-compress">
  <div class="bg-primary py-[7.5px]">
    <div
      class="zoom-compress-child lg:max-w-[calc(100%-33.75rem)] header-1280px md:px-[20px] pl-[49px] pr-[59px] xl:pl-[0px] xl:pr-[0px] mx-auto flex h-full md:items-center justify-between hader-pading items-center padding-x-56px-mobile"
    >
      <div
        class="ml-[5px] flex flex-col lg:flex-row gap-2 lg:gap-[34px] xl:gap-[35px]"
      >
        <a
          class="text-white text-[20px] icon-header text-header-nav font-normal"
          href="tel:02435121533"
        >
          <!-- <i class="fa-solid fa-phone mr-[9px]"></i> -->
          <divv class="flex gap-[9px] items-center">
            <img src="/assets//svg/phone.svg" alt="" />
            <spa class="font-normal">024.35121533(118)</spa>
          </divv>
        </a>

        <a
          class="text-white text-[20px] icon-header text-header-nav font-normal"
          href="mailto:kinhdoanh_heps@gmail.com"
        >
          <!-- <i class="fa-solid fa-envelope mr-[11px]"></i> -->
          <div class="flex gap-[11px] items-center">
            <img src="/assets/svg/mail.svg" alt="" />
            <span class="font-normal">kinhdoanh_heps@gmail.com</span>
          </div>
        </a>
      </div>
      <div
        class="block md:hidden text-white cursor-pointer"
        id="mobileMenuTrigger"
        onclick="toggleMobileMenu()"
      >
        <!-- <i class="fa-solid fa-bars"></i> -->
        <img
          class="text-high-wight-img-header"
          src="/assets/svg/menu.svg"
          alt=""
        />
      </div>
    </div>
  </div>

  <div
    class="zoom-compress-child header-1280px max-w-pc-1919 xl:max-w-[calc(100%-33.75rem)] mx-auto flex flex-col lg:items-end lg:flex-row justify-start xl:justify-between mt-[25px] md:px-[20px] hader-pading px-[49px] xl:px-0 padding-x-56px-mobile"
  >
    <div class="header-left">
      <a class="flex items-center justify-start xl:justify-end gap-4" href="/">
        <img
          class="w-[50px] h-[65px] zoom-w-50px zoom-h-65px"
          src="assets/svg/logo.svg"
          alt="Logo công ty"
        />
        <div class="text-title-header text-2xl font-bold text-[#14AE5C]">
          <div class="line-height-p zoom-text-size-30px">
            <p class="inline">CÔNG TY CỔ PHẦN</p>
            <p class="inline lg:hidden">DỊCH VỤ</p>
          </div>
          <div class="line-height-p zoom-text-size-30px">
            <p class="hidden lg:inline">DỊCH VỤ</p>
            <p class="inline">XUẤT BẢN GIÁO DỤC HÀ NỘI</p>
          </div>
        </div>
      </a>
    </div>

    <nav class="nav mt-5 nav-item xl:-ml-[65px] hidden md:flex">
      <ul class="font-medium text-[#303030] flex flex-wrap xl:flex-nowrap">
        <!-- Hàng 1 -->
        <li
          class="p-[10px] px-[35px] lg:px-[15px] text-[15px] border hover:bg-[#13ae5b] hover:text-white cursor-pointer border-[#979797]"
        >
          <a href="/" class="flex items-center text-inherit no-underline">
            Trang chủ
            <i class="fa-solid fa-angle-down ml-[9px]"></i>
          </a>
        </li>
        <li
          class="relative p-[10px] px-[34px] lg:px-[15px] text-[15px] border cursor-pointer border-[#979797] hover:bg-[#13ae5b] hover:text-white transition-colors z-50"
        >
          <a href="#" class="flex items-center text-inherit no-underline">
            Giới thiệu
            <i class="fa-solid fa-angle-down ml-[7px]"></i>
          </a>
          <ul
            class="dropdown absolute top-full left-0 bg-white text-black border border-[#979797] hidden z-50 min-w-[200px]"
          >
            <li
              class="p-2 px-4 hover:bg-[#13ae5b] hover:text-white transition-colors"
            >
              <a
                href="/GeneralIntroduction.html"
                class="block text-inherit no-underline"
                >Thông tin chung</a
              >
            </li>
            <li
              class="p-2 px-4 hover:bg-[#13ae5b] hover:text-white transition-colors"
            >
              <a
                href="/OrganizationalChart.html"
                class="block text-inherit no-underline"
                >Sơ đồ tổ chức</a
              >
            </li>
          </ul>
        </li>
        <li
          class="relative p-[10px] px-[32px] lg:px-[12px] text-[15px] border cursor-pointer border-[#979797] hover:bg-[#13ae5b] hover:text-white"
        >
          <a href="#" class="flex items-center text-inherit no-underline">
            Sản phẩm
            <i class="fa-solid fa-angle-down ml-[7px]"></i>
          </a>

          <ul
            class="dropdown absolute top-full left-0 bg-white text-black border border-[#979797] hidden z-10 min-w-[200px]"
          >
            <li
              class="p-2 px-4 hover:bg-[#13ae5b] hover:text-white transition-colors"
            >
              <a href="/Product.html" class="block text-inherit no-underline"
                >Hệ sinh thái học liệu số</a
              >
            </li>
            <li
              class="p-2 px-4 hover:bg-[#13ae5b] hover:text-white transition-colors"
            >
              <a
                href="/ReferenceBooks.html"
                class="block text-inherit no-underline"
                >Sách tham khảo</a
              >
            </li>
          </ul>
        </li>
        <!-- Hàng 2 -->
        <li
          class="p-[10px] lg:px-[10px] px-[36px] text-[15px] border cursor-pointer border-[#979797] hover:bg-[#13ae5b] hover:text-white"
        >
          <a
            href="/ShareholdersCorner.html"
            class="flex items-center text-inherit no-underline"
          >
            Góc cổ đông
            <i class="fa-solid fa-angle-down ml-[7px]"></i>
          </a>
        </li>
        <li
          class="p-[10px] lg:px-[12px] px-[40px] text-[15px] border cursor-pointer border-[#979797] hover:bg-[#13ae5b] hover:text-white"
        >
          <a
            href="/News.html"
            class="flex items-center text-inherit no-underline"
          >
            Tin tức
            <i class="fa-solid fa-angle-down ml-[7px]"></i>
          </a>
        </li>
        <li
          class="p-[10px] lg:px-[12px] px-[35px] text-[15px] border cursor-pointer border-[#979797] xl:border-l-0 hover:bg-[#13ae5b] hover:text-white"
        >
          <a
            href="/Contact.html"
            class="flex items-center text-inherit no-underline"
          >
            Liên hệ
            <i class="fa-solid fa-angle-down ml-[7px]"></i>
          </a>
        </li>
      </ul>
    </nav>

    <div class="hidden lg:flex text-primary gap-2 text-[15px] mb-[10px]">
      <button>
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <a href="#" class="lang">VI</a>
    </div>
  </div>
</header>
